* {
  color: white;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.sidebar {
  font-size: 18px;
  padding-right: 18px;
  height: 100vh;
  float: left;
  background-color: #d64d4d;
}

.gallery {
  height: 100vh;
}

span {
  color: #e8d174;
}

li {
  list-style: square;
  font-weight: 600;
}

img {
  float: left;
  width: 300px;
  padding: 6px;
  margin: 6px;
  background-color: #9ed670;
}
